.banner {
    font-family: "KTEGAKI";
    font-size: 50pt;
    background-image: url("banner.jpg");
    border-radius: 25px;
    background-size: auto;
    background-repeat: no-repeat;
    vertical-align: text-top;
    position: absolute;
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
}
h1 {
    font-family: "KTEGAKI";

}

@font-face {
    font-family: KTEGAKI;
    src: url(KTEGAKI.ttf);
}