@font-face {
    font-family: KTEGAKI;
    src: url(KTEGAKI.ttf);
}

body {
    font-family: "KTEGAKI";
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("space.jpg");
    background-repeat: no-repeat;
    background-color: #D8DBE2;
    background-position: center;
    background-size: 100%;
}

#main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #D8DBE2;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

.cell.taken {
    pointer-events: none;
}

.message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.reset {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #A9BCD0;
    border: 2px solid #3E517A;
    color: #3E517A;
    border-radius: 8px;
}
